<template name="courseStats">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" >
        <div class="ar-1-1">
          <div class="widget-1 panel no-border bg-complete no-margin">
            <div class="panel-body">
              <div class="pull-bottom bottom-left bottom-right ">
                  <span class="label font-montserrat fs-11">NEWS</span>
                <br>
                <h2 class="text-white">Type anywhere to get Quick Search</h2>
                <p class="text-white hint-text">Learn More at Project Pages</p>
                <div class="row stock-rates m-t-15">
                  <div class="company col-xs-4">
                    <div>
                      <p class="font-montserrat text-success no-margin fs-16">
                        <i class="fa fa-caret-up"></i> +0.95%
                        <span class="font-arial text-white fs-12 hint-text m-l-5">546.45</span>
                      </p>
                      <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                        AAPL
                      </p>
                    </div>
                  </div>
                  <div class="company col-xs-4">
                    <div>
                      <p class="font-montserrat text-danger no-margin fs-16">
                        <i class="fa fa-caret-up"></i> -0.34%
                        <span class="font-arial text-white fs-12 hint-text m-l-5">345.34</span>
                      </p>
                      <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                        YAHW
                      </p>
                    </div>
                  </div>
                  <div class="company col-xs-4">
                    <div class="pull-right">
                      <p class="font-montserrat text-success no-margin fs-16">
                        <i class="fa fa-caret-up"></i> +0.95%
                        <span class="font-arial text-white fs-12 hint-text m-l-5">278.87</span>
                      </p>
                      <p class="bold text-white no-margin fs-11 font-montserrat lh-normal">
                        PAGES
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" style="padding-left:7.5px; padding-right:7.5px;">
            <div class="ar-1-1">
              <div class="widget-2 panel no-border bg-primary widget no-margin">
                <div class="panel-body">
                  <div class="pull-bottom bottom-left bottom-right padding-25">
                    <span class="label font-montserrat fs-11">NEWS</span>
                    <br>
                    <h5 class="text-white">So much more to see at a glance.</h5>
                    <p class="text-white hint-text hidden-md">Learn More at Project Pages</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-left:7.5px; padding-right:7.5px;">
            <div class="ar-1-1">
              <div class="widget-2 panel no-border bg-primary widget no-margin">
                <div class="panel-body">
                  <div class="pull-bottom bottom-left bottom-right padding-25">
                    <span class="label font-montserrat fs-11">NEWS</span>
                    <br>
                    <h5 class="text-white">So much more to see at a glance.</h5>
                    <p class="text-white hint-text hidden-md">Learn More at Project Pages</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" >
            <div class="ar-2-1">
              <div class="widget-15-2 panel no-margin no-border widget-loader-circle" style="height:0px">
                <ul class="nav nav-tabs nav-tabs-simple">
                  <li class="active">
                    <a href="#widget-15-2-tab-1">
                                  APPL<br>
                                  22.23<br>
                                  <span class="text-success">+60.223%</span>
                              </a>
                  </li>
                  <li><a href="#widget-15-2-tab-2">
                                  FB<br>
                                  45.97<br>
                                  <span class="text-danger">-06.56%</span>
                            </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane no-padding active" id="widget-15-2-tab-1">
                    <div class="full-width">
                      <div class="widget-15-chart2 rickshaw-chart full-height"></div>
                    </div>
                  </div>
                  <div class="tab-pane no-padding" id="widget-15-2-tab-2">
                    <div class="full-width">
                      <div class="widget-15-chart2 rickshaw-chart full-height"></div>
                    </div>
                  </div>
                </div>
                <div class="p-t-10 p-l-20 p-r-20 p-b-30">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="fs-16 text-black">Online users
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 p-t-20">
        <div class="ar-1-1">
          <div class="widget-3 panel no-border bg-complete no-margin widget-loader-bar">
            <div class="panel-body no-padding">
              <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="3000">
                <div class="slide-front tiles slide active">
                  <div class="padding-30">
                    <div class="pull-top">
                      <div class="pull-left visible-lg visible-xlg">
                        <i class="pg-map"></i>
                      </div>
                      <div class="pull-right">
                        <ul class="list-inline ">
                          <li>
                            <a href="#" class="no-decoration"><i class="pg-comment"></i>
                                          </a>
                          </li>
                          <li>
                            <a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
                                          </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="pull-bottom p-b-30">
                      <p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>
                      <h5 class="no-margin text-white p-b-10">Carefully
                                                <br>designed for a
                                                <br>great
                                                <span class="semi-bold">experience</span>
                                            </h5>
                    </div>
                  </div>
                </div>
                <div class="slide-back tiles">
                  <div class="padding-30">
                    <div class="pull-top">
                      <div class="pull-left visible-lg visible-xlg">
                        <i class="pg-map"></i>
                      </div>
                      <div class="pull-right">
                        <ul class="list-inline ">
                          <li>
                            <a href="#" class="no-decoration"><i class="pg-comment"></i>
                                          </a>
                          </li>
                          <li>
                            <a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
                                          </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="pull-bottom p-b-30">
                      <p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>
                      <h5 class="no-margin text-white p-b-10">A whole new
                                                <br>
                                                <span class="semi-bold">page</span>
                                            </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-t-20">
        <div class="ar-1-1">
          <div class="widget-11 panel no-border  no-margin">
            <div class="panel-heading ">
              <div class="panel-title">Other stats
              </div>
            </div>
            <div class="widget-11-table auto-overflow">
              <table class="table table-condensed table-hover">
                <tbody>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18">$27</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18 text-primary">$1000</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18">$27</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18 text-primary">$1000</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18">$27</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18 text-primary">$1000</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18">$27</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
                    <td>
                      <span class="font-montserrat fs-18 text-primary">$1000</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="padding-25">
              <p class="small no-margin">
                <a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
                <span class="hint-text ">Show more details of APPLE . INC</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-t-20" style="background-color:purple">
        <div class="ar-2-1">
          <div class="widget-16 panel no-border  no-margin widget-loader-circle">
            <div class="panel-heading">
              <div class="panel-title">Page Options
              </div>
            </div>
            <div class="p-l-25 p-r-45 p-t-25 p-b-25">
              <div class="row">
                <div class="col-md-4 ">
                  <p class="hint-text all-caps font-montserrat small no-margin ">Views</p>
                  <p class="all-caps font-montserrat  no-margin text-success ">14,256</p>
                </div>
                <div class="col-md-4 text-center">
                  <p class="hint-text all-caps font-montserrat small no-margin ">Today</p>
                  <p class="all-caps font-montserrat  no-margin text-warning ">24</p>
                </div>
                <div class="col-md-4 text-right">
                  <p class="hint-text all-caps font-montserrat small no-margin ">Week</p>
                  <p class="all-caps font-montserrat  no-margin text-success ">56</p>
                </div>
              </div>
            </div>
            <div class="relative no-overflow">
              <div class="widget-16-chart line-chart" data-line-color="success" data-points="true" data-point-color="white" data-stroke-width="2">
                <svg></svg>
              </div>
            </div>
            <div class="b-b b-t b-grey p-l-20 p-r-20 p-b-10 p-t-10">
              <p class="pull-left">Post is Public</p>
              <div class="pull-right">
                <input type="checkbox" data-init-plugin="switchery" />
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="b-b b-grey p-l-20 p-r-20 p-b-10 p-t-10">
              <p class="pull-left">Maintenance mode</p>
              <div class="pull-right">
                <input type="checkbox" data-init-plugin="switchery" checked="checked" />
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="p-l-20 p-r-20 p-t-10 p-b-10 ">
              <p class="pull-left no-margin hint-text">Super secret options</p>
              <a href="#" class="pull-right"><i class="fa fa-arrow-circle-o-down text-success fs-16"></i></a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
