<template name="courseStats">
  {{#with course}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="ar-1-1">
            <div class="widget-1 panel no-border bg-complete no-margin">
              <div class="panel-body">
                <div class="pull-bottom bottom-left bottom-right ">
                  <span class="label font-montserrat fs-12" style="text-shadow: 1px 1px rgba(0, 0, 0, 0.3);">{{courseCode}}</span>
                  <br>
                  <h3 class="text-white">{{name}}</h3>
                  <span class="font-montserrat text-white fs-13">Academic year {{year}} ({{semester}})</span>
                  <hr>
                  <button class="btn btn-default btn-rounded m-r-10">Ask question</button><span class="text-white fs-14">or browse questions in the sidebar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-t-20">
            <div class="ar-1-1">
              <div class="widget-3 panel no-border bg-complete no-margin widget-loader-bar">
                <div class="panel-body no-padding">
                  <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="3000">
                    {{#if lastPost}}
                    {{#with lastPost}}
                    <div class="slide-front tiles slide active">
                      {{>latestPostSlide}}
                    </div>
                    {{/with}}
                    {{/if}}
                    {{#each latestPosts}}
                    <div class="slide-back tiles">
                      {{>latestPostSlide}}
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-t-20">
            <div class="ar-1-1">
              <div class="widget-11 panel no-border  no-margin">
                <div class="panel-heading ">
                  <div class="panel-title fs-18">Other stats
                  </div>
                </div>
                <div class="widget-11-table auto-overflow">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 padding-10">Total<br>posts</td>
                        <td>
                          <span class="font-montserrat fs-12">{{getPublishedCount 'totalPosts'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 padding-10">Total answers</td>
                        <td>
                          <span class="font-montserrat fs-12 text-primary">{{getPublishedCount 'answers'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 padding-10">Average <br>response time</td>
                        <td>
                          <span class="font-montserrat fs-12 padding-10">{{averageResponseTime}}&nbsp;min</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 padding-10">Instructors'<br>responses</td>
                        <td>
                          <span class="font-montserrat fs-12">{{getPublishedCount 'instructorResponses'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 padding-10">Students'<br>responses</td>
                        <td>
                          <span class="font-montserrat fs-12 text-primary">{{studentResponsesCount}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="ar-1-1">
              <div class="widget-2 panel no-border bg-primary widget no-margin" style="overflow:scroll">
                <div class="panel-body">
                  <span class="label font-montserrat fs-11 m-t-10">WHO'S ONLINE?</span>
                  <!-- <div class="bottom-left bottom-right padding-25"> -->
                  <div>
                    <br>
                    <div class="text-white fs-14"><i class="fa fa-user"></i> {{{studentsOnlineText}}}</div>
                    <div class="text-white fs-14 m-t-10"><i class="fa fa-university"></i> {{{instructorsOnlineText}}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ar-1-1">
              <div class="widget-2 panel no-border bg-primary widget no-margin">
                <div class="panel-body">
                  <div class="panel-title text-white hint-text">
                    <span class="font-montserrat fs-11 all-caps">UNANSWERED QUESTIONS <i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  {{{unansweredQuestionsText}}}

                  <br><br>

                  <div class="panel-title text-white hint-text">
                    <span class="font-montserrat fs-11 all-caps">UNREAD POSTS<i class="fa fa-chevron-right"></i>
                    </span>
                  </div>
                  {{{unreadPostsText}}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 30px 0px 0px 0px">
          <div class="ar-1-1">
            <div class="widget-15 panel panel-condensed  no-margin no-border widget-loader-circle" style="background-color: transparent">
              <div class="panel-heading m-b-10">
                <span class="label font-montserrat fs-15 all-caps">Daily visits</span>
              </div>
              <div class="panel-body no-padding">
            <div class="tab-content p-l-20 p-r-20">
              <div class="tab-pane no-padding active" id="dailyVisitsTab">
                <div class="full-width">
                    <div class="widget-15-chart rickshaw-chart"></div>
                </div>
              </div>
            </div>
            <div class="p-t-20 p-l-20 p-r-20 p-b-30">
              <div class="row">
                <div class="col-md-7">
                  <div class="row"><span class="fs-16 text-black">Visits today:</span></div>
                  <div class="row"><span class="fs-16 text-black">Visits this week:</span></div>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <span class="font-montserrat bold text-success m-r-20 fs-16">{{visitsToday}}</span>
                  </div>
                  <div class="row">
                    <p class="font-montserrat bold text-danger m-r-20 fs-16">{{getPublishedCount 'thisWeekVisits'}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{{/with}}
</template>

<template name="latestPostSlide">
  <div class="padding-30">
    <div class="pull-top">
      <div class="pull-left visible-lg visible-xlg">
        <i class="fa fa-question-circle" style="font-size:40px"></i>
      </div>
      <div class="pull-right">
        <ul class="list-inline ">
          <li>
            <a href="#" class="no-decoration"><i class="pg-comment"></i>
            </a>
          </li>
          <li>
            <a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="pull-bottom p-b-20">
      <p class="p-t-10 fs-12 p-b-5 hint-text">{{dateFromNow}}</p>
      <h5 class="postTitle no-margin text-white p-b-10" style="cursor:pointer">{{title}}</h5>
    </div>
  </div>
</template>
