<template name="postCompose">
  {{>postList posts=posts courseId=courseId}}
  <div class="compose-container">
  <form id="form-compose" role="form" autocomplete="off">
   <!-- START COMPOSE POST -->
   <div class="post-composer container-fluid">
     <div class="row">
       <div class="col-sm-12 no-padding">
         <div class="form-group-attached">
           <div class="row clearfix">
                <div class="col-sm-12">
               <div class="form-group form-group-default" style="padding-top:4px;">
                 <span id="tag"> Choose Tags </span>
                 <div class="btn-group" id="postTags" data-toggle="buttons">
                   {{#each course.tags}}
                   <label class="btn btn-complete {{#if isEditingPost}}{{isTagActive}}{{/if}}"><input type="checkbox">{{this}}</label>
                   {{/each}}
                 </div>
               </div>
             </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Title</label>
                <input type="text" class="form-control" name="postTitle" id="postTitleInput" placeholder="What's your question?" value="{{#if isEditingPost}}{{editingPost.title}}{{/if}}">
              </div>
            </div>

           </div>
         </div>
         <div class="tinymce-wrapper">
         <textarea id="composeTinyMCE" name="content">{{#if isEditingPost}}{{{editingPost.text}}}{{/if}}</textarea>
         </div>
       </div>
     </div>
     <div class="row p-b-20">
       <div class="col-sm-11 m-t-5">

         {{#unless isUserInstructor}}
         <div class="checkbox inline m-l-20">
           <input type="checkbox" value="1" id="anonymous" {{isAnonymousChecked}}>
           <label for="anonymous" class="hint-text">Post as anonymous</label>
         </div>
         {{/unless}}
         {{#if isEditingPost}}
           <button type="submit" id="composeSubmitBtn" data-type-form="postUpdate" class="btn btn-complete btn-cons m-l-10">Update</button>
           <button id="cancelUpdateBtn" class="btn btn-default btn-cons m-l-10">Cancel</button>
         {{else}}
              <button type="submit" id="composeSubmitBtn" data-type-form="postInsert" class="btn btn-complete btn-cons m-l-10">
                {{#if isUserInstructor}}
                  Ask
                {{else}}
                  Post
                {{/if}}
              </button>
         {{/if}}
         <button id="previewButton" data-target="#previewModal" data-toggle="modal" class="btn btn-default btn-cons m-l-5">Preview</button>

           <div class="modal fade slide-up disable-scroll" id="previewModal" tabindex="-1" role="dialog"  aria-labelledby="modalSlideUpLabel" aria-hidden="false">
             <div class="modal-dialog">
               <div class="modal-content-wrapper">
                 <div class="modal-content">
                   <div class="modal-header clearfix text-left" style="padding-top:15px;">
                     <div class="post-content-header" style="margin-bottom:15px">
                       <h2><strong id="previewTitle"></strong></h2>
                     </div>
                     <div class="post-content-body m-t-10">
                       {{#mathjax}}
                       {{#autolink}}
                       <span id="previewContent"> </span>
                       {{/autolink}}
                       {{/mathjax}}
                     </div>

                     <div class="q-footer" id="previewTags" style="margin: 15px 0 -5px 0px;">

                     </div>
                   </div>
                   <div class="modal-footer" style="margin-top: 16px;text-align: center;">
                     <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                   </div>
                 </div>
               </div>
               <!-- /.modal-content -->
             </div>
           </div>

       </div>
     </div>
   </div>
 </form>
 </div>
 <!-- END COMPOSE POST -->
</template>
