<template name="postCompose">
  {{>postList posts=posts course_id=course_id}}
  <form id="form-compose" role="form" autocomplete="off">
   <!-- START COMPOSE POST -->
   <div class="post-composer container-fluid">
     <div class="row">
       <div class="col-sm-12 no-padding">
         <div class="form-group-attached">
           <div class="row clearfix">
                <div class="col-sm-12">
               <div class="form-group form-group-default" style="padding-top:4px;">
                 <span id="tag"> Choose Tags </span>
                 <div class="btn-group" id="postTags" data-toggle="buttons">
                    <!-- Tags are appended here -->
                 </div>
               </div>
             </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Title</label>
                <input type="text" class="form-control" name="postTitle" placeholder="What's your question?">
              </div>
            </div>

           </div>
         </div>
         {{>latexModal}}
         <div class="summernote-wrapper">
          <div id="summernote-compose"></div>
         </div>
       </div>
     </div>
     <div class="row p-b-20">
       <div class="col-sm-11 m-t-5">

         <div class="checkbox inline m-l-20">
           <input type="checkbox" value="1" id="anonymous">
           <label for="anonymous" class="hint-text hidden-xs">Post as anonymous</label>
         </div>
         <button type="submit" class="btn btn-complete btn-cons m-l-10">Send</button>
       </div>
     </div>
   </div>
 </form>
 <!-- END COMPOSE POST -->
</template>
