<template name="postList">
  <div class="email-list b-r b-grey"> <a class="email-refresh" href="#"></a>
    <!-- BUUUUUTOOOOONNNN <a href="/email/compose" class="btn btn-complete btn-block btn-compose m-b-30">Compose</a> -->
    <div id="emailList">
      <!-- START EMAIL LIST SORTED BY DATE -->
      <!-- END EMAIL LIST SORTED BY DATE -->
      <div class="list-view-group-container">
        <div class="list-view-group-header">
          <span id="date">Today April 23</span>
          <a href="{{pathFor 'compose' course_id=course_id }}" ><button class="pull-right btn btn-sm btn-rounded ">New question</button> </a>
        </div>
        <ul class="no-padding">
          {{#each posts}}
          {{> postThumbnail}}
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</template>

<template name="postThumbnail">
  <li class="item padding-15" data-email-id="{{_id}}">
    <!--<div class="thumbnail-wrapper d32 circular bordered b-complete">
      <img width="40" height="40" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="/img/profiles/avatar2x.jpg">
    </div> -->
    <div class="checkbox  no-margin p-l-10">
      <input type="checkbox" value="1" id="emailcheckbox-0-0">
      <label for="emailcheckbox-0-0"></label>
    </div>
    <div class="inline m-l-15">
      <p class="subject no-margin">{{title}}</p>
      <p class="body no-margin">{{{text}}}</p>
    </div>
    <div class="datetime">{{dateFromNow}}</div>
    <div class="clearfix"></div>
  </li>
</template>
