<template name="postPage">
  <!-- START EMAILS LIST -->
  {{>postList posts=posts course_id=course_id}}
  <!-- END EMAILS LIST -->
  <!-- START OPENED EMAIL -->
  <div class="email-opened">
    <div class="no-email">

      {{#if posts.count}}
      <h2>Course stats go here</h2>
      {{else}}
      <h2>No posts here :(</h2>
      {{/if}}
    </div>

    {{>postContent}}

  </div>
  <!-- END OPENED EMAIL -->
</template>

<template name="postContent">
  <div class="email-content-wrapper" style="display:none">
    <div class="actions-wrapper menuclipper bg-master-lightest">
      <ul class="actions menuclipper-menu no-margin p-l-20 ">
        <li class="visible-sm-inline-block visible-xs-inline-block">
          <a href="#" class="email-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes
          </a>
        </li>

        <li class="no-padding "><a href="#" class="text-muted">Upvotes: {{post.upvoters.length}}</a>
        </li>
        <li class="no-padding "><a href="#" class="text-muted">Views: 0</a>
        </li>
        <li class="no-padding "><a href="#" class="text-info">Reply</a>
        </li>
        <li class="no-padding "><a href="#" style="color:#344988">Edit</a>
        </li>
        <li class="no-padding "><a href="#" class="text-danger">Delete</a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="email-content">
        <div class="q-footer">
        <div style="float:left">
          <div class="thumbnail-wrapper bordered circular" >
            <img width="40" height="40" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="{{identicon identiconHash}}">
          </div>
          <div class="sender inline m-l-10">
            <p class="name no-margin bold">
            {{post.ownerName}} {{post.ownerSurname}}
            </p>
            <p class="datetime no-margin">
            {{dateFromNow}}
            </p>
          </div>

        </div>
        <div class="buttons">
          <button class="btn {{ upvoteButton }} btn-lg btn-rounded upvote" ><i class="fa fa-thumbs-up"></i></button>
          <button class="btn btn-default btn-lg btn-rounded">Follow</button>
        </div>
         <div class="clearfix"></div>
      </div>

      <div class="email-content-header">
        <h2><strong>{{post.title}}</strong></h2>
      </div>
      <div class="clearfix"></div>
      <div class="email-content-body m-t-20">
        {{{post.text}}}
      </div>

      <!-- Modal -->
      <div class="modal fade slide-up disable-scroll" id="latexEditorModal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
          <div class="modal-dialog ">
              <div class="modal-content-wrapper">
              <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                      </button>
                      <h5><span class="semi-bold">LaTeX</span> equation Editor</h5>
                  </div>
                  <div class="modal-body">
                      <textarea id="latex-source" style="width:80%;vertical-align:top;display:none;"></textarea>
                      <span class="mathquill-editor"></span><br><br><br>
                      <button type="submit" id="insertLatexBtn" class="btn btn-complete btn-cons pull-right">Insert</button>
                  </div>
              </div>
              </div>
              <!-- /.modal-content -->
          </div>
      </div>
      <!-- /.modal-dialog -->

      {{#each answers}}
        {{ >answer }}
      {{/each}}

      <br><br>
      <label class="error">{{errorMessage 'body'}}</label>
      <div class="summernote-wrapper">
          {{#mathjax}}
          <p><div id="summernote"></div></p>
          {{/mathjax}}
      </div>
      <button type="submit" id="sendAnswerBtn" class="btn btn-complete btn-cons m-l-10">Send</button>
    </div>
  </div>

</template>

<template name="answer">
  <hr>
  <div class="answer">
    <div class="postInfo">
      <div class="thumbnail-wrapper bordered circular" >
         <img width="40" height="40" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="{{identicon identiconHash}}">
      </div>
      <div class="nameLabel bold">
      {{answerAuthor.profile.name}}
      {{answerAuthor.profile.surname}}
      </div>
      <div class="datetime timeLabel">
        9 minutes ago
      </div>
    </div>
     <div class="votingContainer" data-answer-id="{{this._id}}">
        <button class="btn btn-sm btn-rounded {{upvote}}" id="upvoteAnswer"><i class="fa fa-angle-up"></i></button>
        <div id="answerVoteCount">{{voteCount}}</div>
        <button class="btn btn-sm btn-rounded {{downvote}}"  id="downvoteAnswer"><i class="fa fa-angle-down"></i></button>
    </div>
    <div class="answerBodyContainer">
    {{#mathjax}}
      {{{body}}}
    {{/mathjax}}
    </div>
  </div>
  <div class="comments">
    <hr>
    <div class="thumbnail-wrapper circular">
         <img width="10" height="10" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="/img/profiles/avatar2x.jpg">
    </div>
    <div class="commentBody">
    {{{body}}}
    </div>
    <hr>
    <div class="thumbnail-wrapper circular">
         <img width="10" height="10" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="/img/profiles/avatar2x.jpg">
    </div>
    <div class="commentBody">
    {{{body}}}
    </div>

    <button id="addCommentBtn" class="btn btn-default btn-xs m-t-10">Add a comment</button>
  </div>
</template>
