<template name="postPage">
  <!-- START EMAILS LIST -->
  {{>postList posts=posts course_id=course_id}}
  <!-- END EMAILS LIST -->
  <!-- START OPENED EMAIL -->
  <div class="email-opened">
    <div class="no-email">

      <div class="quickview-wrapper builder hidden-sm hidden-xs" id="builder">
      <div class="p-l-30 p-t-40 p-r-30 ">
        <a class="builder-close quickview-toggle pg-close" data-toggle="quickview" data-toggle-element="#builder" href="#"></a>
        <div class="scroll-wrapper scrollable full-height" style="position: relative;"><div class="scrollable full-height scroll-content scroll-scrolly_visible" style="margin-bottom: 0px; margin-right: 0px; height: 508px;">
          <div class="p-l-10 p-r-50">
            <h4 class="semi-bold">
              Course Settings
            </h4>
            <!-- <p class=" hint-text no-margin">
              Color makes it different
            </p>-->
            <p class="small hint-text m-b-20">
              Control and customize this course.
            </p>
            <div style="width: 100%;height: 33px;margin-top:30px">
              <span style="font-size: 19px;margin-top: 4px;" class="pull-left"> Lecture mode </span>
              <span class="pull-right"><input type="checkbox" class="switchery" /></span>
            </div>
            <div style="width: 100%;height: 33px;margin-top:20px">
              <span style="font-size: 19px;margin-top: 4px;" class="pull-left"> Use default tags </span>
              <span class="pull-right"><input type="checkbox" class="switchery" /></span>
            </div>
            <div class="form-group form-group-default m-t-20">
              <label>Tags</label>
              <input class="tagsinput custom-tag-input" type="text" value="week 1, exam, logistics" />
            </div>
          </div>
        </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="height: 296px; top: 139.594260876512px;"></div></div></div></div>
      </div>
    </div>
      {{#if posts.count}}
      <h2>Course stats go here</h2>
      {{else}}
      <h2>No posts here :(</h2>
      {{/if}}
      <button class="btn btn-lg btn-rounded" data-toggle="quickview" data-toggle-element="#builder">Course Settings</button>
    </div>

    {{>postContent}}

  </div>
  <!-- END OPENED EMAIL -->
</template>

<template name="postContent">

  <div class="email-content-wrapper" style="display:none">
    <div class="actions-wrapper menuclipper bg-master-lightest">
      <ul class="actions menuclipper-menu no-margin p-l-20 ">
        <li class="visible-sm-inline-block visible-xs-inline-block">
          <a href="#" class="email-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes
          </a>
        </li>

        <li class="no-padding "><a href="#" class="text-muted">Upvotes: {{post.upvoters.length}}</a>
        </li>
        <li class="no-padding "><a href="#" class="text-muted">Views: 0</a>
        </li>
        <li class="no-padding "><a href="#" class="text-info">Reply</a>
        </li>
        <li class="no-padding "><a href="#" style="color:#344988">Edit</a>
        </li>
        <li class="no-padding "><a href="#" class="text-danger">Delete</a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="email-content">
      <div class="q-footer">
        <div style="float:left">
          <div class="thumbnail-wrapper bordered circular" >
            <img width="40" height="40" alt="" src="{{identicon identiconHash}}">
          </div>
          <div class="sender inline m-l-10">
            <p class="name no-margin bold">
              {{#if post.isAnonymous}}
                Anonymous
              {{else}}
                {{post.ownerName}} {{post.ownerSurname}}
              {{/if}}
            </p>
            <p class="datetime no-margin">
              {{dateFromNow}}
            </p>
          </div>

        </div>
        <div class="buttons">
          <button class="btn {{ upvoteButton }} btn-lg btn-rounded upvote" ><i class="fa fa-thumbs-up"></i></button>
          <button class="btn btn-default btn-lg btn-rounded">Follow</button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="email-content-header">
        <h2><strong>{{post.title}}</strong></h2>
      </div>
      <div class="clearfix"></div>
      <div class="email-content-body m-t-20">
        {{#mathjax}}
        {{{post.text}}}
        {{/mathjax}}
      </div>

      {{>latexModal}}

      {{#each answers}}
        {{ >answer }}
      {{/each}}

      <hr>
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <div class="panel-title">Write an answer:
            </div>
          </div>
          <div class="panel-body">
            <label class="error">{{errorMessage 'answerBody'}}</label>
            <div class="summernote-wrapper">
              <p><div id="summernote"></div></p>
            </div>
            <div class="checkbox inline m-l-20">
              <input type="checkbox" value="1" id="isAnswerAnonymous">
              <label for="isAnswerAnonymous" class="hint-text hidden-xs">Post as anonymous</label>
            </div>
            <button type="submit" id="sendAnswerBtn" class="btn btn-complete btn-cons m-l-10">Send</button>
          </div>
        </div>
      </div>
    </div>

  </template>

  <template name="answer">
    <hr>
    <div class="answer">
      <div class="postInfo">
        <div class="thumbnail-wrapper bordered circular" >
          <img width="40" height="40" alt="" src="{{identicon identiconHash}}">
        </div>
        <div class="nameLabel bold">
          {{#if isAnonymous}}
            Anonymous
          {{else}}
            {{theAuthor.profile.name}}
            {{theAuthor.profile.surname}}
          {{/if}}
        </div>
        <div class="datetime timeLabel">
          {{dateFromNow}}
        </div>
      </div>
      <div class="votingContainer" data-answer-id="{{this._id}}">
         <button class="btn btn-sm btn-rounded {{upvote}}" id="upvoteAnswer"><i class="fa fa-angle-up"></i></button>
         <div id="answerVoteCount">{{voteCount}}</div>
         <button class="btn btn-sm btn-rounded {{downvote}}"  id="downvoteAnswer"><i class="fa fa-angle-down"></i></button>
     </div>
      <div class="answerBodyContainer">
        {{#mathjax}}
        {{{body}}}
        {{/mathjax}}
      </div>
      <div class="comments">
        {{#each comments}}
          <hr>
          <div class="thumbnail-wrapper circular" data-toggle="tooltip" data-placement="left" data-html="true" title="{{#if isAnonymous}} Anonymous {{else}} {{theAuthor.profile.name}} <br> {{theAuthor.profile.surname}} {{/if}} <br> ({{dateFromNow}})">
            <img width="40" height="40" alt="" src="{{identicon identiconHash}}">
          </div>
          <div class="commentBody">
          {{#mathjax}}
          {{{this.body}}}
          {{/mathjax}}
          </div>
        {{/each}}
        <button id="addCommentBtn" class="btn btn-default btn-xs m-t-10 pull-right">Add a comment</button>
        <div class="summernote-wrapper pull-right m-t-10" id="summernote-wrapper-{{_id}}" style="width:100%" hidden>
          <label class="error"></label>
          <p><div id="summernote-{{_id}}" class="summernote"></div></p>
          <div class="checkbox inline m-l-20">
            <input type="checkbox" value="1" id="isCommentAnon-{{_id}}">
            <label for="isCommentAnon-{{_id}}" class="hint-text hidden-xs">Post as anonymous</label>
          </div>
          <button type="submit" id="sendCommentBtn" data-answer-id="{{_id}}" class="btn btn-complete btn-sm m-l-10">Comment</button>
        </div>
      </div>

    </div>
  </template>

  <template name="latexModal">
    <!-- Modal -->
    <div class="modal fade slide-up disable-scroll" id="latexEditorModal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
      <div class="modal-dialog ">
        <div class="modal-content-wrapper">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="pg-close fs-14"></i>
              </button>
              <h5><span class="semi-bold">LaTeX</span> equation Editor</h5>
            </div>
            <div class="modal-body">
              <textarea id="latex-source" style="width:80%;vertical-align:top;display:none;"></textarea>
              <span class="mathquill-editor"></span><br><br><br>
              <button type="submit" id="insertLatexBtn" class="btn btn-complete btn-cons pull-right">Insert</button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
    <!-- /.modal-dialog -->
  </template>
