<template name="postList">
  <!-- START EMAILS LIST -->
  <div class="email-list b-r b-grey"> <a class="email-refresh" href="#"><i class="fa fa-refresh"></i></a>
    <!-- BUUUUUTOOOOONNNN <a href="/email/compose" class="btn btn-complete btn-block btn-compose m-b-30">Compose</a> -->
    <div id="emailList">
      <!-- START EMAIL LIST SORTED BY DATE -->
      <!-- END EMAIL LIST SORTED BY DATE -->
      <div class="list-view-group-container">
        <div class="list-view-group-header"><span>Today April 23</span></div>
        <ul class="no-padding">
          {{#each posts}}
            {{> postThumbnail}}
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
  <!-- END EMAILS LIST -->
  <!-- START OPENED EMAIL -->
  <div class="email-opened">
    <div class="no-email">
      <h1>No email has been selected</h1>
    </div>

    {{>postContent}}

  </div>
  <!-- END OPENED EMAIL -->
</template>


<template name="postContent">
  <div class="email-content-wrapper" style="display:none">
    <div class="actions-wrapper menuclipper bg-master-lightest">
      <ul class="actions menuclipper-menu no-margin p-l-20 ">
        <li class="visible-sm-inline-block visible-xs-inline-block">
          <a href="#" class="email-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes
          </a>
        </li>
        <li class="no-padding "><a href="#" class="text-info">Reply</a>
        </li>
        <li class="no-padding "><a href="#">Reply all</a>
        </li>
        <li class="no-padding "><a href="#">Forward</a>
        </li>
        <li class="no-padding "><a href="#">Mark as read</a>
        </li>
        <li class="no-padding "><a href="#" class="text-danger">Delete</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="email-content">
      <div class="email-content-header">
        <div class="thumbnail-wrapper d48 circular bordered">
          <img width="40" height="40" alt="" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="/assets/img/profiles/avatar2x.jpg">
        </div>
        <div class="sender inline m-l-10">
          <p class="name no-margin bold">
          {{post.owner}}
          </p>
          <p class="datetime no-margin">
          {{post.create_at}}
          </p>
        </div>
        <div class="clearfix"></div>
        <h2><strong>{{post.title}}</strong></h2>
      </div>
      <div class="clearfix"></div>
      <div class="email-content-body m-t-20">
        {{{post.text}}}
      </div>
      <br/><br/>
      <div class="summernote-wrapper">
        <div id="summernote"></div>
      </div>
    </div>
  </div>

</template>

<template name="postThumbnail">
  <li class="item padding-15" data-email-id="{{_id}}">
    <div class="thumbnail-wrapper d32 circular bordered b-complete">
      <img width="40" height="40" alt="" data-src-retina="/img/profiles/avatar2x.jpg" data-src="/img/profiles/avatar.jpg" src="/img/profiles/avatar2x.jpg">
    </div>
    <div class="checkbox  no-margin p-l-10">
      <input type="checkbox" value="1" id="emailcheckbox-0-0">
      <label for="emailcheckbox-0-0"></label>
    </div>
    <div class="inline m-l-15">
      <p class="recipients no-margin hint-text small">{{author}}</p>
      <p class="subject no-margin">{{title}}</p>
      <p class="body no-margin">{{{text}}}</p>
    </div>
    <div class="datetime">{{dateFromNow}}</div>
    <div class="clearfix"></div>
  </li>
</template>
