<template name="notificationsPage">
		  <!-- START JUMBOTRON -->
          <div class="jumbotron no-margin" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <h3 class="">Notification Demo</h3>
              </div>
            </div>
          </div><!-- END JUMBOTRON -->
          <div class="container-fluid container-fixed-lg demo-container">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
              <li>
                <p>home</p>
              </li>
              <li>
                <a class="active" href="#">Notifications</a>
              </li>
            </ul><!-- END BREADCRUMB -->
            
            <button class="btn btn-success show-notification">Test notification</button>

          </div>

</template>