<template name="overlaySearch">
  <!-- START OVERLAY -->
  <div class="overlay" style="display: none" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
      <!-- BEGIN Overlay Header !-->
      <div class="container-fluid">
        <!-- BEGIN Overlay Logo !-->
        <img class="overlay-brand" src="
        /img/ask_logo.png" alt="logo" data-src="
        /img/ask_logo.png" data-src-retina="
        /img/ask_logo_2x.png" height="40">
        <!-- END Overlay Logo !-->
        <!-- BEGIN Overlay Close !-->
        <a href="#" class="close-icon-light overlay-close text-black fs-16">
          <i class="pg-close"></i>
        </a>
        <!-- END Overlay Close !-->
      </div>
      <!-- END Overlay Header !-->
      <div class="container-fluid">
        <!-- BEGIN Overlay Controls !-->
        {{#if equals searchType 'courseSearch'}}
        <div class="m-t-20"><h5>Searching in <span class="bold">{{courseName}}</span>:</h5></div>
        {{> esInput id="overlay-search" class="no-border overlay-search bg-transparent" index="courseSearch" placeholder="Search..."}}
        {{else}}
        {{> esInput id="overlay-search" class="no-border overlay-search bg-transparent" index="defaultSearch" placeholder="Search..."}}
        {{/if}}

        <br>
        <div class="inline-block">
          <div class="checkbox right">
            {{#if equals searchType 'courseSearch'}}
            <input id="defaultSearchCkbx" type="checkbox" value="1">
            {{else}}
            <input id="defaultSearchCkbx" type="checkbox" value="1" checked="checked">
            {{/if}}
            <label for="defaultSearchCkbx"><i class="fa fa-search"></i> Search all courses</label>
          </div>
        </div>
        <div class="inline-block m-l-10">
          <p class="fs-13">Press enter to search</p>
        </div>
        <!-- END Overlay Controls !-->
      </div>
      <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
      <div class="container-fluid">
        <div class="search-results m-t-40">
          {{#ifEsIsSearching index=searchType id="overlay-search" logic="OR" }}
          <div class="progress-circle-indeterminate-base m-l-30 m-t-30"></div>
          {{/ifEsIsSearching}}
          <div class="row">
            {{#esEach index=searchType id="overlay-search"}}
            <!-- {<li><strong>{{title}}</strong> {{{text}}}</li>-->
            {{>resultCard}}
            {{/esEach}}

            {{> esLoadMoreButton index=searchType id="overlay-search" class="btn btn-complete m-t-10 m-b-40"}}

            {{#ifEsHasNoResults index=searchType id="overlay-search"}}
            <div class="no-results"><h3 class="bold m-l-30" style="color: #3B4752">No results found!</h3></div>
            {{/ifEsHasNoResults}}

          </div>
        </div>
      </div>
      <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
  </div>
  <!-- END OVERLAY -->
</template>

<template name="resultCard">
  <div class="row">
  <div class="card share share-self col-lg-6 col-md-6" data-social="item">
    <a href="{{pathFor 'showPost' courseId=courseId postId=_id}}">
    <div class="card-header clearfix">
      <h5>{{{formattedTitle}}}</h5>
      {{#if isDefaultSearch}}
        <h6>posted in <span class="bold"> {{courseName}}</span></h6>
      {{/if}}
    </div>
    </a>
    <div class="card-description">
      {{{formattedText}}}
    </div>
    <div class="card-footer clearfix">
      <div class="pull-left" style="width: 300px">
      <div class="user-pic">
            <img alt="Profile Image" width="33" height="33" src="{{identicon userIdenticon}}">
        </div>
        <h5>{{userName}}{{#if isInstructorPost}}<span class="small hint-text"> - instructor</span>{{/if}}</h5>
        <h6>posted
           <span class="semi-bold">{{dateFromNow}}</span>
        </h6>
      </div>
      <div class="pull-right hint-text">
        <i class="fa fa-thumbs-up"></i> {{upvotesCount}} &nbsp; &nbsp; <i class="fa fa-comment"></i> {{answersCount}}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</template>
