<template name="settings">
    <div class="jumbotron full-height no-padding" style="margin:0;background-color:#F5F8FA;" data-pages="parallax">
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            <div class="m-t-50 col-md-6 col-md-offset-3">
              <div class="card share full-width">
                        <div class="card-header clearfix">
                          <h3 style="margin:0;">Account Settings</h3>
                          <h6>
                              <span> Change your email preferences and profile picture. </span>
                          </h6>

                        </div>

                    <div class="card-description" style="padding-bottom:60px">
                      <h4>Email notifications frequency: </h4>
                      <div class="radio radio-success m-t-20">
                        <input type="radio" value="realTime" name="emailOption" id="realTime">
                        <label for="realTime">Real Time</label>
                        <input type="radio" value="once4hours" name="emailOption" id="once4hours">
                        <label for="once4hours">Once every 4 hours</label>
                        <input type="radio" value="onceADay" name="emailOption" id="onceADay">
                        <label for="onceADay">Once a day</label>
                        <input type="radio" value="never" name="emailOption" id="never">
                        <label for="never">Never</label>
                      </div>
                      <h4 style="margin-top: 22px;">Profile picture: </h4>
                      {{#if currentUserHasAvatar}}
                        <button class="btn btn-danger btn-cons " data-target="#modalDeleteImage" data-toggle="modal"  style="margin-top: 30px;margin-left: 10px;">Remove</button>
                      {{else}}
                        <button class="btn btn-complete btn-cons inc" style="margin-top: 30px;margin-left: 30px;">Update image</button>
                      {{/if}}
                      <div class="thumbnail-wrapper bordered circular" style="width:100px;border:0;">
                        <img width="50" height="50" alt="" src="{{#if currentUserHasAvatar}} {{currentUserAvatar}} {{else}} {{identicon identiconHash}} {{/if}}">
                      </div>
                    </div>
                  </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  {{#unless currentUserHasAvatar}}
    {{> editYourAvatarModal}}
  {{else}}
    <div class="modal fade slide-up disable-scroll" id="modalDeleteImage" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
      <div class="modal-dialog " style="width:40%; text-align:center;">
        <div class="modal-content-wrapper">
          <div class="modal-content">
            <div class="modal-header clearfix" style="margin-bottom: 30px;">
              <h5><strong>Are you sure you want to delete your profile picture?</strong></h5>
            </div>
            <div class="modal-footer" style="margin-top: 16px;text-align: center;">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="deleteImage" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
  {{/unless}}
</template>
