<template name="home">
  <!-- START JUMBOTRON
  <div class="jumbotron full-height no-padding" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle text-center">
            <div class="col-md-6 col-md-offset-3 text-center">
              {{#if Meteor.loggingIn}}
                {{>loading}}
              {{else}}
                <center>
                <h1><i class="fa fa-warning"></i></h1>
                <h2>Under construction</h2>
                <h4>Hold on tight – the dashboard is still under construction</h4>
                </center>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div> END JUMBOTRON -->
<div style="background-color: #6d5cae;height:80%;z-index: 1;position:relative;">
  <div style="width:100%; height:100%; text-align:center; display:table;">
      <div style="position:absolute;background-image:url('/img/edinburgh.jpg');width:100%;height:100%;opacity: 0.4;z-index: -1;">

      </div>
      <div style="display: table-cell;vertical-align: middle; opacity:1;position:relative;color:white">
            <h1 style="margin:0;color:white;">Ask, Answer, Learn!</h1>
            <p class="intro">Introducing "Ask". A modern and intuitive question and answer platform for the University of Edinburgh.</p>
      </div>
  </div>
</div>
<div style="height:21%;">
  {{#each courses}}
      <a href="{{pathFor 'room' courseId=this._id }}">
        <div class="course-{{coursesCount}} courseThumb">
          <div style="display: table-cell;vertical-align: middle; color:#626262">
            {{name}}
          </div>
        </div>
      </a>
  {{/each}}

</div>

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
</template>
