<template name="footer">
    <!-- START FOOTER -->
    <div class="container-fluid container-fixed-lg footer" style="    background-color: rgba(109, 92, 174, 0.85);
    color: white;">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright © 2015</span>
                <span class="font-montserrat">The University of Edinburgh</span>.
                <span class="hint-text">All rights reserved.</span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
                <a href="#"></a>
                <span class="hint-text">Designed by Giovanni Alcantara &amp; Martin Georgiev</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- END FOOTER -->
</template>
