<template name="header">
  <div class="header ">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="sm-action-bar">
        <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="sm-action-bar">
        <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
          <span class="icon-set menu-hambuger-plus"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table">
      <div class="header-inner">
        <!-- <a href="#" class="toggle-email-sidebar">Room <span class="text-info">(12)</span> <span class="caret"></span></a> -->
        <div class="brand inline">
          <a href="{{pathFor 'home'}}">
            <img src="/img/ask_logo.png" alt="logo" data-src="/img/ask_logo.png" data-src-retina="/img/ask_logo_2x.png" height="40">
          </a>
        </div>
        <!-- BEGIN <NOTIFIC></NOTIFIC>ATION DROPDOWN -->
        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-30">
          <li class="inline">
            <div class="dropdown">
              <a href="" id="notification-center" style="cursor:pointer; font-size:19px" class="fa fa-globe" data-toggle="dropdown">
                {{#if areThereUnseenNotifications}}
                  <span class="bubble"></span>
                {{/if}}
              </a>
              <!-- START Notification Dropdown -->
              <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                <!-- START Notification -->
                <div class="notification-panel">
                  <!-- START Notification Body-->
                      <div class="notification-body scrollable">
                        <!-- START Notification Item-->
                        {{#each notifications}}
                        <div class="notification-item unread {{isSeen}} clearfix">
                          <!-- START Notification Item-->
                          <div class="heading">
                            <a class="text-complete">
                              <i class="{{notificationIcon}} fs-16 m-r-10"></i>
                              <span style="cursor:pointer;" class="notification-link text-complete"> <span class="bold">{{intend}} </span></span>
                              <div class="pull-right time-date">
                                <div id="toggle-more-details" class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                  <div>
                                    <i class="fa fa-angle-left"></i>
                                  </div>
                                </div>
                                <span class="time">{{dateFromNow}}</span>
                              </div>
                              <span style="cursor:pointer;" class="notification-link text-complete"> <div class="fs-12 m-l-10 notificationTitle">
                                {{postTitle}}
                              </div></span>
                            </a>

                            <div class="more-details" style="display: none;">
                              <div class="more-details-inner">
                                <h5 class="semi-bold fs-16">

                                  {{textWithoutTags}}

                                </h5>
                                <!-- <p class="small hint-text">
                                  to your question "<a href="#" style="color:#48B0F7">Key constraint vs Many-to-one</a>"
                                </p> -->
                              </div>
                            </div>
                          </div>
                          <!-- END Notification Item-->
                        </div>
                        {{/each}}
                        <!-- START Notification Body-->
                        <!-- START Notification Item-->
                      </div>
                      <!-- END Notification Body-->
                  <!-- START Notification Footer-->
                  {{#if notifications.count }}
                  <div style="cursor: pointer;" class="see-all-notifications notification-footer text-center">
                      <a href=# class="">See all notifications</a>
                  </div>
                  {{else}}
                  <div style="cursor: pointer;" class="notification-footer text-center">
                      <a href="#" class="">No notifications yet</a>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </li>
          <!-- <li class="p-r-15 inline">
            <a href="{{pathFor 'home'}}" style="font-size:19px" class="fa fa-tachometer"></a>
          </li> -->
        </ul>
        <!-- END NOTIFICATION DROPDOWN -->
        <a href="#" id="search-link" class="search-link" data-toggle="search"><i class="pg-search"></i>{{{searchBarText}}}</a>
      </div>
    </div>
    <!-- CHAT -->
      <!-- <div class=" pull-right">
        <div class="header-inner">
          <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
        </div>
      </div> -->
    <!-- END CHAT -->
    <div class=" pull-right">
    {{#if currentUser}}
      <!-- START User Info-->
      <div class="visible-lg visible-md m-t-10">
        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
          <span class="semi-bold">{{currentUser.profile.name}} {{currentUser.profile.surname}}</span>
          <!-- <span class="text-master">({{currentUser.username}})</span> -->
        </div>
        <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="thumbnail-wrapper d32 circular inline m-t-5">
            <img src="{{identicon identiconHash}}" alt="" width="32" height="32">
        </span>
          </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
            <li><a href="{{pathFor 'settings'}}"><i class="pg-settings_small"></i> Settings</a>
            </li>
            <li><a href="{{pathFor 'feedback'}}"><i class="pg-outdent"></i> Feedback</a>
            </li>
            <!-- <li><a href="#"><i class="pg-signals"></i> Help</a>
            </li> -->
            <li class="bg-master-lighter">
              <a href="{{pathFor 'logout'}}" class="clearfix">
                <span class="pull-left" id="logout-button">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END User Info-->
      {{/if}}
    </div>
  </div>
  <!-- END HEADER -->
</template>
