<template name="sideBar">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar" data-pages="sidebar">
      <div id="appMenu" class="sidebar-overlay-slide from-top">
      </div>
      <!-- BEGIN SIDEBAR HEADER -->
      <div class="sidebar-header">
        <img src="/img/ask_logo_white.png" alt="logo" class="brand" data-src="/img/logo_white.png" data-src-retina="/img/ask_logo_white_2x.png" height="35">
        <div class="sidebar-header-controls">
          <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR HEADER -->
      <!-- BEGIN SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="/" class="detailed">
              <span class="title">Dashboard</span>
              <span class="details">12 updates</span>
            </a>
            <span class="icon-thumbnail bg-success"><i class="fa fa-envelope-o"></i></span>
          </li>
          <li class="">
            <a href="#" class="detailed">
              <span class="title">Messages</span>
              <span class="details">3 new messages</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-home"></i></span>
          </li>
          <!--<<li class="">
            <a href="#" class="detailed">
              <span class="title">Notifications</span>
              <span class="details">1 unread notification</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-globe"></i></span>
          </li>
          <li class="">
            <a href="#" class="detailed">
              <span class="title">Deadlines</span>
              <span class="details">No deadlines this week</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-warning"></i></span>
          </li>-->
          <li class="open">
            <a href="javascript:;"><span class="title">Courses</span>
            <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-book"></i></span>
            <ul class="sub-menu" style="display:block;">
              {{#each courses}}
              <li class="">
                <a href="{{pathFor 'room' course_id=this._id._str }}">{{MOD_NAME}}</a>
                <span class="icon-thumbnail">{{courseInitials}}</span>
              </li>
              {{/each}}
            </ul>
          </li>
         <!-- <li class="">
            <a href="javascript:;">
              <span class="title">Demo</span>
              <span class="arrow
             "></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-laptop"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="/forms">Forms</a>
                <span class="icon-thumbnail">f</span>
              </li>
              <li class="">
                <a href="/notifications">Live Notifications</a>
                <span class="icon-thumbnail">ln</span>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:;"><span class="title">UI Elements</span>
            <span class="arrow"></span></a>
            <span class="icon-thumbnail">Ui</span>
            <ul class="sub-menu">
              <li class="active">
                <a href="/ui/color">Color</a>
                <span class="icon-thumbnail">c</span>
              </li>
              <li class="">
                <a href="/ui/typo">Typography</a>
                <span class="icon-thumbnail">t</span>
              </li>
              <li class="">
                <a href="/ui/icons">Icons</a>
                <span class="icon-thumbnail">i</span>
              </li>
              <li class="">
                <a href="/ui/buttons">Buttons</a>
                <span class="icon-thumbnail">b</span>
              </li>
              <li class="">
                <a href="/ui/notifications">Notifications</a>
                <span class="icon-thumbnail">n</span>
              </li>
              <li class="">
                <a href="/ui/modals">Modals</a>
                <span class="icon-thumbnail">m</span>
              </li>
              <li class="">
                <a href="/ui/progress">Progress &amp; Activity</a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li class="">
                <a href="/ui/tabs_accordian">Tabs &amp; Accordions</a>
                <span class="icon-thumbnail">ta</span>
              </li>
              <li class="">
                <a href="/ui/sliders">Sliders</a>
                <span class="icon-thumbnail">s</span>
              </li>
              <li class="">
                <a href="/ui/tree-view">Tree View</a>
                <span class="icon-thumbnail">tv</span>
              </li>
              <li class="">
                <a href="/ui/nestables">Nestable</a>
                <span class="icon-thumbnail">ns</span>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:;">
              <span class="title">Forms</span>
              <span class="arrow
             "></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="/forms/elements">Form Elements</a>
                <span class="icon-thumbnail">fe</span>
              </li>
              <li class="">
                <a href="/forms/layouts">Form Layouts</a>
                <span class="icon-thumbnail">fl</span>
              </li>
              <li class="">
                <a href="/forms/wizard">Form Wizard</a>
                <span class="icon-thumbnail">fw</span>
              </li>
            </ul>
          </li>-->
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</template>
