<template name="404">
  <div class="container-xs-height full-height">
    <div class="row-xs-height">
      <div class="col-xs-height col-middle">
        <div class="error-container text-center">
          <h1 class="error-number">404 :(</h1>
          <h2 class="semi-bold">Oops! Sorry, this page does not exist</h2>
          <p class="semi-bold">Ask helps you find answers to your questions,<br/>but we can't generate pages that do not exist (yet)</p>
          <p><strong>Maybe you were looking for your courses?</strong><br>They're on the left sidebar.</p>
          <p><strong>Or maybe you were looking for something more specific?</strong><br>Try searching for questions using from the top bar.</p>

        </div>
      </div>
    </div>
  </div>
</template>
