<!-- GLOBAL LAYOUT -->
<template name="defaultLayout">
    <body class="fixed-header">
        {{ >sideBar }}
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            {{ >header }}
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper">
                <!-- START PAGE CONTENT -->
                <div class="content">
                    {{>yield}}
                </div>
                {{ >footer }}
            </div>
        </div>
        {{ >quickView }}
        {{ >overlaySearch }}
    </body>
</template>


<!-- DASHBOARD LAYOUT -->
<template name="dashboardLayout">
    <body class="fixed-header">
        {{ >sideBar }}
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            {{ >header }}
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper full-height">
                <!-- START PAGE CONTENT -->
                <div class="content full-height">
                    {{>yield}}
                </div>
                {{ >footer }}
            </div>
        </div>
        {{ >quickView }}
        {{ >overlaySearch }}
    </body>
</template>


<!-- DASHBOARD LAYOUT -->
<template name="notificationsLayout">
    <body class="fixed-header">
        {{ >sideBar }}
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            {{ >header }}
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper full-height">
                <!-- START PAGE CONTENT -->
                <div class="content full-height">
                    {{>yield}}
                </div>
            </div>
        </div>
        {{ >quickView }}
        {{ >overlaySearch }}
    </body>
</template>

<!-- POST LAYOUT -->
<template name="postLayout">
    <body class="fixed-header">
        {{ >sideBar }}
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            {{ >header }}
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper full-height">
                <!-- START PAGE CONTENT -->
                <div class="content full-height">
                    <div class="post-wrapper">
                        <!-- START POST SIDEBAR MENU-->
                        <!-- {{>postSidebar}} -->
                        {{>yield}}
                        <!-- START COMPOSE BUTTON FOR TABS -->
                        <div class="compose-wrapper visible-xs">
                          <a class="compose-post text-info pull-right m-r-10 m-t-10" href="{{pathFor 'compose' courseId=courseId }}"><i class="fa fa-pencil-square-o"></i></a>
                        </div>
                        <!-- END COMPOSE BUTTON -->
                    </div>
                </div>
            </div>
        </div>
        {{ >quickView }}
        {{ >overlaySearch }}
    </body>
</template>

<template name="composePostLayout">
    <body class="fixed-header">
        {{ >sideBar }}
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            {{ >header }}
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper full-height">
                <!-- START PAGE CONTENT -->
                <div class="content full-height">
                    <div class="post-wrapper">
                        <!-- START POST SIDEBAR MENU-->
                        <!-- {{>postSidebar}} -->
                        {{>yield}}
                        <!-- START COMPOSE BUTTON FOR TABS -->
                        <!-- <div class="compose-wrapper visible-xs">
                          <a class="compose-post text-info pull-right m-r-10 m-t-10" href="{{pathFor 'room/compose'}}"><i class="fa fa-pencil-square-o"></i></a>
                        </div> -->
                        <!-- END COMPOSE BUTTON -->
                    </div>
                </div>
            </div>
        </div>
        {{ >quickView }}
        {{ >overlaySearch }}
    </body>
</template>

<template name="loginLayout">
    <body class="fixed-header">
        {{>yield}}
    </body>
</template>
