<template name="dashboard">
  <!-- START JUMBOTRON -->
  <div class="jumbotron full-height no-padding" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle text-center">
            <div class="col-md-6 col-md-offset-3 text-center">
              {{#if Meteor.loggingIn}}
                {{>loading}}
              {{else}}
                <center>
                <h1><i class="fa fa-warning"></i></h1>
                <h2>Under construction</h2>
                <h4>Hold on tight – the dashboard is still under construction</h4>
                </center>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
</template>
